@import "scss/fontawesome.scss";
@import "scss/solid.scss";
$main: #393e46;
$greenblue: #00adb5;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-weight: 400;
  line-height: 1.7;
  font-family: "Lato", sans-serif;
  max-width: 100%;
  overflow-x: hidden;
  background-image: url(./img/joshua-sukoff.jpg);
  background-size: 100% 100%;
  // background: radial-gradient(ellipse at bottom, #5091dd 0%, #030617 100%);
}

#initial-page {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
    to right,
    #393f45,
    #2e383b,
    #273130,
    #222925,
    #1f211b
  );
  transition: 1s;
  font-size: 10rem;
  font-weight: 100;
  letter-spacing: -1.5px;
}

.initial-page__logo {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  white-space: nowrap;
  text-shadow: 2px 2px 2px black;
  &-name {
    position: relative;
    display: inline-block;
    bottom: -10rem;
    opacity: 0;
  }
}
.logo-active {
  bottom: 0;
  opacity: 1;
  transition: ease-in-out 0.5s;
}

.logo-bottom {
  bottom: 15rem;
  opacity: 0;
  transition: ease-in-out 0.5s;
}
.logo-name {
  z-index: 1;
  left: 3.5rem;
}
.logo-surname {
  position: relative;
  color: $greenblue;
  text-transform: uppercase;
}

/* Basic styling */
nav {
  background-color: transparent;
  padding: 0 1.5rem;
}
a {
  color: white;
  text-decoration: none;
}
.nav__container {
  list-style-type: none;
  font-size: 1.5rem;
  flex-wrap: nowrap;
  &-item {
    padding: 10px;
  }
}

/* Mobile menu */
// @media all and (min-width: 400px) {
//   .nav__container {
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: space-between;
//     align-items: center;

//     &-logo {
//       font-size: 2rem;
//     }
//     &-item {
//       order: 3;
//       width: 100%;
//       text-align: center;
//       display: none;
//     }
//     &-toggle {
//       order: 1;
//       font-size: 2rem;
//     }
//   }
//   .active {
//     display: block;
//   }
// }

/* Desktop menu */
@media all and (min-width: 960px) {
  .nav__container {
    display: flex;
    align-items: center;
    &-logo {
      flex-grow: 1;
    }
    &-item {
      font-size: 1.7rem;
      display: block;
      width: auto;
    }
    &-toggle {
      display: none;
    }
  }
}

.home-page__main-container {
  // background-image: url(./img/frantisek-unsplash.jpg);
  // background-size: cover;
  min-height: 102vh;
  margin-top: -6rem;
  display: grid;
  grid-template-columns: 1fr 1rem 1fr;
  justify-items: start;
  align-items: end;
  &-img {
  }
  &-text {
    align-self: center;
    font-size: 1.5rem;
    color: white;
    &-h {
      font-size: 4.3rem;
      text-transform: uppercase;
      font-weight: 500;
    }
    &-p {
      font-size: 1.8rem;
      // padding-top: 1rem;
    }
  }
}

#work {
  // background-image: url(./img/frantisek-unsplash.jpg);
  min-height: 102vh;
  width: 100vw;
}

.logo-text {
  position: relative;
  left: 5rem;
  margin-top: 2rem;
  &__hr {
    border: 1px solid $greenblue;
    background-color: $greenblue;
  }
  &__description {
    color: white;
    font-size: 2rem;
    line-height: 2.7rem;
  }
}
.work-page__main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 5rem 0 2rem;
  height: 100vh;
  &-animation {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 6rem;
  }
  &-animation-img {
    position: relative;
    z-index: 1;
  }
  &-animation-block {
    width: 45rem;
    min-height: 45rem;
    border-radius: 50%;
    background: transparent;
    opacity: 2;
    position: absolute;
    filter: blur(2rem);
    // box-shadow: 120px 80px 40px 0 #0ff;
    // filter: drop-shadow(-10px -10px 50px $greenblue)
    //   drop-shadow(10px 10px 200px $greenblue);
    box-shadow: 0 0 15rem lighten($greenblue, 40%),
      0 0 15rem lighten($greenblue, 40%);
  }
  &-music {
    margin-top: 12rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.player {
  color: $greenblue;
  font-size: 2rem;
  width: 27rem;
  height: 35rem;
  background-image: url(./img/na_zare.jpg);
  background-size: cover;
  border-radius: 2rem;
  border: solid 0.3rem white;
  box-shadow: 0 0 0.5rem white;
  &__main {
    height: 100%;
    width: 100%;
    transition: all 500ms ease-in-out;
    &-flex {
      display: flex;
      justify-content: center;
    }
    &-progress {
      margin-top: 25rem;
      display: flex;
      width: 85%;
      height: 0.6rem;
      align-self: center;
      background: #00acb573;
      border-radius: 3rem;
      cursor: pointer;
      &-line {
        appearance: none;
        overflow: hidden;
        height: 0.5rem;
        background: $greenblue;
        border-radius: 3rem;
      }
    }
    &-controls {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 1rem;
      font-size: 2.7rem;
      cursor: pointer;
      &-playpause {
        margin: 0 1.5rem;
        font-size: 3.9rem;
      }
    }
  }
}

.feedback {
  color: white;
  width: 50rem;
  font-size: 1.8rem;
  &__text {
    text-align: center;
    margin-top: 2rem;
  }
  &__nameimg {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    &-img {
      margin-right: 2rem;
    }
  }
}

.notactive {
  display: none;
}

.active {
  display: block;
}

#price {
  // background-image: url(./img/frantisek-unsplash.jpg);
  min-height: 102vh;
  width: 100vw;
}

.price__container {
  display: flex;
  width: 100%;
  justify-content: center;
  position: relative;
  flex-wrap: wrap;
  cursor: pointer;
  &-item {
    position: relative;
    flex-basis: 25rem;
    height: auto;
    margin: 2rem;
    &:hover &-head {
      color: $greenblue;
      transform: translateY(-2rem);
    }
    &:hover &-main {
      color: $greenblue;
      transform: translateY(-2rem);
    }
    &-head {
      position: relative;
      height: 7.5rem;
      width: 100%;
      background-color: #c4c4c4;
      border-radius: 1.5rem;
      color: white;
      margin-bottom: 1.5rem;
      text-align: center;
      line-height: 7.5rem;
      font-size: 1.7rem;
      transition: 0.3s ease-in-out;
    }
    &-main {
      height: 30rem;
      background-color: #c4c4c4;
      position: relative;
      border-radius: 1.5rem;
      transition: 0.3s ease-in-out;
    }
  }
  // &-standard {
  //   height: 30%;
  //   width: 20%;
  //   &-head {
  //     width: 30rem;
  //     height: 8rem;
  //     background-color: #c4c4c4;
  //     position: absolute;
  //     border-radius: 1.5rem;
  //     color: white;
  //   }
  //   &-main {
  //     width: 30rem;
  //     height: 35rem;
  //     background-color: #c4c4c4;
  //     position: relative;
  //     top: 9.5rem;
  //     border-radius: 1.5rem;
  //   }
  // }
  // &-premium {
  //   height: 40%;
  //   width: 20%;
  //   &-head {
  //     width: 30rem;
  //     height: 8rem;
  //     background-color: #c4c4c4;
  //     position: absolute;
  //     border-radius: 1.5rem;
  //     color: white;
  //   }
  //   &-main {
  //     width: 30rem;
  //     height: 35rem;
  //     background-color: #c4c4c4;
  //     position: relative;
  //     top: 9.5rem;
  //     border-radius: 1.5rem;
  //   }
  // }
}
