<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Alex Naumov | Music producer</title>
    <link rel="stylesheet" href="/main.css" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap"
      rel="stylesheet"
    />
    <script defer src="/index.js"></script>
  </head>
  <body>
    <nav>
      <ul class="nav__container">
        <li class="nav__container-logo">
          <!-- <img
              class="nav__container-logo-img"
              src="/img/alex-logo.svg"
              width="120"
              alt=""
            /> -->
        </li>
        <li class="nav__container-item"><a href="/home">Home</a></li>
        <li class="nav__container-item"><a href="/work">Work</a></li>
        <li class="nav__container-item">
          <a style="color: #00adb5" href="/pricing">Pricing</a>
        </li>
        <li class="nav__container-item"><a href="/contacts">Contacts</a></li>
        <li class="nav__container-toggle">
          <a href="#"><i class="fas fa-bars"></i></a>
        </li>
      </ul>
    </nav>
    <div class="logo-text">
      <img
        class="logo-text__img"
        src="/img/alex-logo.svg"
        width="250"
        alt=""
        alt=""
      />
      <hr class="logo-text__hr" width="19%" />
      <p class="logo-text__description">
        professional music producer<br />and beat maker
      </p>
    </div>
    <div class="price__container">
      <div class="price__container-item">
        <div class="price__container-item-head">30 $ BASIC</div>
        <div class="price__container-item-main"></div>
      </div>
      <div class="price__container-item">
        <div class="price__container-item-head">40 $ STANDARD</div>
        <div class="price__container-item-main"></div>
      </div>
      <div class="price__container-item">
        <div class="price__container-item-head">50 $ PREMIUM</div>
        <div class="price__container-item-main"></div>
      </div>
    </div>
  </body>
</html>
